extends ../shared/template

block content
  h1 Builder II

  #controls
    input#username(type='text', autofocus=true, placeholder='username')
    button#login Login

  #dashboard
  #forest

block scripts
  script(src='/js/es6/compiled/game.js')
